<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
</head>
<body>
    <nav>
        <h1>My Cloud Drive</h1>
        <a href="/auth/log-out">log-out</a>
    </nav>
    
    <% if (files && files.length > 0) { %>

        <% files.map((file) => { %>

            <p> <%= file.name %> | <%= file.size %> MB | <%= file.createAt %> </p>
            <a href="<%= file.fileUrl %>">download</a>

            <a href="/update-file/<%= file.id %>/<%= file.filePath %>">edit</a>
        
            <form action="/delete-file/<%= file.id %>/<%= file.filePath %>" method="POST">
                <button type="submit">delete</button>
            </form>

        <% }) %>
    
    <% } else { %>
        <p> No files </p>
    <% } %> 


    <a href="/add-file">Add file</a>


</body>
</html>